<div class="widget widget-bio">
  <h4 class="widget__title">About</h4>
  <div class="widget__content">

    {{/* Resolve avatar URL */}}
    {{ $avatarURL := "" }}
    {{ with .Site.Params.avatar }}{{ $avatarURL = . | relURL }}{{ end }}
    {{ if eq $avatarURL "" }}
      {{ with site.GetPage "/about" }}{{ with .Resources.GetMatch "avatar.*" }}{{ $avatarURL = .RelPermalink }}{{ end }}{{ end }}
    {{ end }}
    {{ if and (eq $avatarURL "") (fileExists "static/img/avatar.jpg") }}
      {{ $avatarURL = (relURL "img/avatar.jpg") }}
    {{ end }}

    <div class="bio-wrap">
      {{ with $avatarURL }}
        <img class="bio-avatar" src="{{ . }}" alt="Avatar of {{ $.Site.Title }}">
      {{ end }}

      {{ with .Site.Params.bio }}
        {{ $bio := . | plainify }}
        <p class="bio-text">{{ $bio | truncate 250 }}</p>
      {{ else }}
        {{ with site.GetPage "/about" }}
          <p class="bio-text">{{ .Plain | truncate 100 }}</p>
        {{ else }}
          <p class="bio-text">Add your bio to <code>params.bio</code> or create <code>content/about/index.md</code>.</p>
        {{ end }}
      {{ end }}
    </div>

    <p><a class="btn-read-more" href="{{ "/about/" | relURL }}">READ MORE</a></p>
  </div>
</div>
