{{ define "main" }}

<main class="main" role="main">
  <div class="posts-list">

    {{ $pages := where .Pages "Params.disposition" "ne" "in-progress" }}

    <header class="taxonomy-header">
      <h1>
        {{ $count := len $pages }}
        {{ $count }} "{{ .Title }}" {{ if eq $count 1 }}Post{{ else }}Posts{{ end }}
      </h1>

      {{ $title := .Title }}
      {{ range where .Site.Data.categories "name" $title }}
      <p class="taxonomy-description">{{ .description }}</p>
      {{ end }}
    </header>

    {{ $p := .Paginate $pages }}

    {{ range $p.Pages }}
    {{ partial "post-list-item.html" . }}
    {{ end }}

    {{ partial "pagination.html" . }}

  </div>
</main>

{{ end }}