{{ define "main" }}

<main class="main" role="main">
  <div class="posts-list">

    {{ $sections := .Site.Params.mainSections | default (slice "posts") }}
    {{ $pages := where .Site.RegularPages "Type" "in" $sections }}
    {{ $pages = where $pages "Params.disposition" "ne" "in-progress" }}

    {{ $pinned := where $pages "Params.pinned" true }}
    {{ $regular := where $pages "Params.pinned" "ne" true }}

    {{ $p := .Paginate $regular }}

    {{ if eq $p.PageNumber 1 }}
      {{ range $index, $page := $pinned }}
        {{ partial "post-list-item.html" (dict "page" $page "index" $index) }}
      {{ end }}
    {{ end }}

    <div class="pagination--top">
      {{ partial "pagination.html" . }}
    </div>

    {{ range $index, $page := $p.Pages }}
      {{ partial "post-list-item.html" (dict "page" $page "index" $index) }}
    {{ end }}

    {{ partial "pagination.html" . }}

  </div>
</main>

{{ end }}