{{ $posts := where .Site.RegularPages "Section" "posts" }}
{{ $posts = where $posts "Params.pinned" "ne" true }}
{{ $posts = where $posts "Params.disposition" "ne" "in-progress" }}

{{ $count := len $posts }}
<h2>
    Published
    ({{ $count }} {{ if eq $count 1 }}Post{{ else }}Posts{{ end }})
</h2>

{{ range .Site.Data.categories }}

{{ $category := . }}
{{ $categoryPosts := where $posts "Params.categories" "intersect" (slice $category.name) }}

{{ if $categoryPosts }}

<h3>
    <a href="/categories/{{ $category.slug }}/">
        {{ $category.name }}
        {{ $count := len $categoryPosts }}
        ({{ $count }} {{ if eq $count 1 }}Post{{ else }}Posts{{ end }})
    </a>
</h3>

<p>{{ $category.description }}</p>

<ul>
    {{ range $categoryPosts.ByDate.Reverse }}
    <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>.
        {{ with .Params.subtitle }}{{ . }}{{ end }}
    </li>
    {{ end }}
</ul>

{{ end }}

{{ end }}